{% if SOCIAL_URL_01_ENABLE and AMOUNT_OF_BOXES > 0 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_01}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_01_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social"  src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_01_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_02_ENABLE and AMOUNT_OF_BOXES > 1 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_02}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_02_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_02_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_03_ENABLE and AMOUNT_OF_BOXES > 2 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_03}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_03_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_03_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_04_ENABLE and AMOUNT_OF_BOXES > 3 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_04}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_04_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_04_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_05_ENABLE and AMOUNT_OF_BOXES > 4 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_05}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_05_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_05_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_06_ENABLE and AMOUNT_OF_BOXES > 5 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_06}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_06_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_06_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_07_ENABLE and AMOUNT_OF_BOXES > 6 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_07}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_07_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_07_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_08_ENABLE and AMOUNT_OF_BOXES > 7 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_08}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_08_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_08_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_09_ENABLE and AMOUNT_OF_BOXES > 8 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_09}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_09_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_09_ICON}">  {% endif %}</a>
{% endif %}

{% if SOCIAL_URL_10_ENABLE and AMOUNT_OF_BOXES > 9 and AMOUNT_OF_BOXES <= 10 %} 
<a href="{SOCIAL_URL_10}" {% if SOCIAL_ICONS_LINKS_EXTERN %} target="_blank"  {% endif %}rel="noopener noreferrer">{% if SOCIAL_FICONS_ALL_ENABLE %}  <i class="img-social fa {SOCIAL_URL_10_FICON}  fa-4x icon-gray"  aria-hidden="true"></i> {% else %} <img class="img-social" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_10_ICON}">  {% endif %}</a>
{% endif %}

