<!-- IF SOCIAL_URL_01_ENABLE -->
<a href="{SOCIAL_URL_01}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_01_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img  src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_01_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_02_ENABLE -->
<a href="{SOCIAL_URL_02}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_02_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_02_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_03_ENABLE -->
<a href="{SOCIAL_URL_03}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_03_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_03_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_04_ENABLE -->
<a href="{SOCIAL_URL_04}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_04_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_04_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_05_ENABLE -->
<a href="{SOCIAL_URL_05}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_05_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_05_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_06_ENABLE -->
<a href="{SOCIAL_URL_06}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_06_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_06_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_07_ENABLE -->
<a href="{SOCIAL_URL_07}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_07_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_07_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_08_ENABLE -->
<a href="{SOCIAL_URL_08}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_08_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_08_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_09_ENABLE -->
<a href="{SOCIAL_URL_09}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_09_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_09_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

<!-- IF SOCIAL_URL_10_ENABLE -->
<a href="{SOCIAL_URL_10}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_URL_10_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><si><img src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_URL_10_ICON}"></si><!-- ENDIF --></a>
<!-- ENDIF -->

