<!-- IF SOCIAL_FACEBOOK_URL_ENABLE -->
<a href="{U_SOCIAL_FACEBOOK_URL}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_FACEBOOK_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><img alt="Facebook" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_FACEBOOK_ICON}"><!-- ENDIF --></a>

<!-- ENDIF -->

<!-- IF SOCIAL_TWITTER_URL_ENABLE -->
<a href="{U_SOCIAL_TWITTER_URL}" <!-- IF SOCIAL_ICONS_LINKS_EXTERN -->target="_blank"<!-- ENDIF -->rel="noopener noreferrer"><!-- IF SOCIAL_FICONS_ALL_ENABLE --><i class="fa {SOCIAL_TWITTER_FICON}  fa-4x icon-gray"  aria-hidden="true"></i><!-- ELSE --><img  alt="Twitter" src="{ROOT_PATH}/ext/chris1278/social/icons/{SOCIAL_TWITTER_ICON}"><!-- ENDIF --></a>
<!-- ENDIF -->

