{% if SOCIAL_ICONS_ENABLE and SCRIPT_NAME == "index" and SOCIAL_ICONS_POSITION eq 4 or SHOW_SOCIAL_ICONS_ALL and U_ACP %}
{% if SOCIAL_ICONS_POS2_ENABLE %}
<div class="forabg">
<a class="category{% if SOCIALICONS_HIDDEN %} hidden-category{% endif %}" style="display: none; height: 0"></a>
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><i class="icon fa-users fa-fw icon-light-blue" aria-hidden="true"></i><span>{{ lang('SOCIAL_MEDIA_ICONS') }}</span></dt>
				</dl>
				{% set S_CC_FORUM_HIDDEN = SOCIALICONS_HIDDEN %}
				{% set U_CC_COLLAPSE_URL = U_SOCIAL_COLLAPSE_URL %}
				{% include '@phpbb_collapsiblecategories/collapsible_categories_button.html' ignore missing %}
			</li>
		</ul>
		<div class="topiclist forums collapsible">
			<ul class="topiclist forums">
				<li class="row social-center">
				{% INCLUDE 'social.html' %}
				</li>
			</ul>
		</div>
	</div>
</div>
{% else %}
	<h3><i class="icon fa-users fa-fw icon-light-blue" aria-hidden="true"></i> {{ lang('SOCIAL_MEDIA_ICONS') }}</h3>
	<div id="unst">
	{% INCLUDE 'social.html' %}
	</div>
{% endif %}
{% endif %}