<!-- IF SOCIAL_ICONS_ENABLE and SCRIPT_NAME == "index" and SOCIAL_ICONS_POSITION eq 3 or SHOW_SOCIAL_ICONS_ALL and U_ACP-->
		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt><i class="icon fa-users fa-fw icon-light-blue" aria-hidden="true"></i><span>{L_SOCIAL_MEDIA_ICONS}</span></dt>
							<dd></dd>
						</dl>
					</li>
				</ul>
				<div class="social_icons_panel topiclist social-bar">
					
							<!-- INCLUDE @chris1278_social/social.html -->
					
				</div>
			</div>
		</div>
	
<!-- ENDIF -->