<!-- INCLUDECSS @chris1278_social/social.css -->

<!-- IF SOCIAL_ICONS_ENABLE and SCRIPT_NAME == "index" and SOCIAL_ICONS_POSITION eq 6 or SHOW_SOCIAL_ICONS_ALL and U_ACP or SHOW_SOCIAL_HEADER_ICONS_ALL and SOCIAL_ICONS_POSITION eq 6 -->
<!-- INCLUDECSS @chris1278_social/head.css -->
<!-- ENDIF -->

<!-- IF SOCIAL_ICONS_ENABLE and not SCRIPT_NAME == "index" and SOCIAL_ICONS_POSITION eq 6 or SHOW_SOCIAL_ICONS_ALL and U_ACP or SHOW_SOCIAL_HEADER_ICONS_ALL and SOCIAL_ICONS_POSITION eq 6 -->
<!-- INCLUDECSS @chris1278_social/head2.css -->
<!-- ENDIF -->
