.tpos2 {
	margin-top: 4px;
}

.tpos3 {
	margin-top: 10px;
}

#unst {
	text-align: center;
}

.social-center {
	text-align: center;
	padding: 5px;
}

.social_header {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

.img-social {
	padding: 5px;
}
